body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

header {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 60px;
}

h1 {
  color: #06aed5;
  font-weight: bold;
}

table {
  width: 100%;
}

.lead {
  white-space: pre-wrap;
}

#currentDay {
  color: blueviolet;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: rgba(137, 43, 226, 0.487);
  color: black;
  text-align: center;
  padding: 20px 10px 20px 10px;
}

textarea {
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px 10px 20px 10px;
}

#past {
  background-color: #d3d3d37f;
  color: white;
}

#present {
  background-color: #ff69617d;
  color: white;
}

#future {
  background-color: #77dd777b;
  color: white;
}

.saveBtn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06afd577;
  color: white;
  text-align: center;
  padding: 20px 10px 20px 10px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
